ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:0;
    left:0;
    width: 14%;
    height: 100%;
    position: fixed;
    overflow: auto;
    background-color: #335C67;
}
li a {
    display: block;
    text-decoration: none;
    padding: 8px 16px;
    color:#FFF3B0;
}
li a:hover {
    background-color: #E09F3E;
}
li {
    text-align: center;
    border-bottom: 1px solid #FFF3B044;
}
li:last-child {
    border-bottom: none;
}

header {
    color: #540B0E;
    border-bottom: 2px solid #335C67;
}

body{
    background-color: #FFF3B066;
}
header, main {
    margin: 0 10% 0 26%;
    display: relative;
}
main {
    font-family: 'Alice', serif;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.4rem;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.1rem;
    color: #335C67;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.625rem;
    font-weight: 600;
    font-style: italic;
    color:#540B0E;
}
section {
    width: 100%;
}

.container {
    border: 2px solid #335C67;

}
.palette-container {
    display: flex;
    flex-flow: row wrap;
   
}
.palette {
    display:flex;
    flex-flow:column;
    text-align: center;
    min-height: 600px;
    width: 20%;
}
.palette p {
    color: #FFF3B0;
    
}
.vanilla p {
    color:#E09F3E;
}
.gray{
    background-color: #335C67;
}
.vanilla {
    background-color: #FFF3B0;
}
.yellow {
    background-color: #E09F3E;
}
.auburn {
    background-color: #9E2A2B;
}
.chocolate {
    background-color: #540B0E;
}

.font-container {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    background-color: #E09F3E44;
}
.font {
    text-align: center;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
}
.font-head {
    font-size: 5rem;
    color:#540B0E;
}

.font-label {
    font-size: 1.75rem;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.alice { 
    font-family: 'Alice', serif;
}
.type-container {
    display: flex;
    flex-flow: row wrap;
    background-color: #E09F3E44;
}
.type-eg {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 2px solid #335C67;
    align-items: baseline;
    overflow: auto;
}

.type-eg p{
    width: 40%;
    padding: 2%;

}
#type1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    color:#335C67;
}

#type2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.1rem;
    color:#335C67;
}

#type3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.625rem;
    font-weight: 600;
    font-style: italic;
    color:#335C67;
}
#type4 {
    color:#335C67;
}

#type5 {
    font-size: 0.75rem;
    font-style: italic;
    color:#335C67;
}
.btn-container {
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
div[class*=box] {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-1 { background-color: #9E2A2B;}
.box-2 { background-color: #E09F3E;}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.btn-one {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}
.btn-one::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.btn-one:hover::before {
    opacity: 0;
    transform: scale(0.5,0.5);
}
.btn-one::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}
.btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

.btn-two {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}

.btn-two span {
   transition: all 0.3s;
}
.btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1,1);
}
.btn-two:hover span {
    letter-spacing: 2px;
}
.btn-two:hover::before {
    opacity:1;
    transform: scale(1,1);
}
.btn-two::after {
    content: '';
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}
.btn-two:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }

footer {
    left: 0;
    bottom:0;
    background-color: #335C67;
    width: 100%;
}

footer p {
    font-size: 0.9rem;
    font-style: italic;
    color:#FFF;
    width:100%;
    padding-left: 0 12%;
    text-align: right;
    line-height:3rem;
}

footer a {
    color:#FFF3B0;
    text-decoration: none;
}